* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F3F3F3;
  align-items: center;
}

#corpo {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 600px;
  /* border: 1px solid green; */
  padding-right: 250px;
}

#phone img {
  width: 700px;
  margin-top: -17px;
  margin-left: 95px;
}

#corpo #login {
  border: 1px solid red;
  width: 400px;
  height: 100%;
  margin-top: 30px;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#login {
  border: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: white;
}

#login input {
  display: block;
  width: 290px;
  height: 35px;
  margin-top: 10px;
  background-color: #F3F3F3;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}

#login button {
  width: 290px;
  height: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0095F6;
  color: white;
  font-weight: bold;
}

#login #face {
  width: 290px;
  margin-top: 20px;
  display: inline
}

#linha span {
  text-align: center;
  font-size: 1px;
  background-color: #DBDBDB;
  border-radius: 1px;
}

#linha span:after,
#linha span:before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #DBDBDB;
  margin: 0 auto;
}

#ou {
  display: inline;
  margin: 10px 10px;
}

.cor-login {
  background-color: #F3F3F3;
  border: 1px solid #DBDBDB;
}

#login #cadastro {
  height: 10%;
  background-color: white;
}

#login #face #enter a {
  display: flex;
  align-items: column;
  padding: 10px;
}


@media(max-width: 320px) {
  #phone {
    display: none;
  }

  #corpo {
    margin: 0px auto;
    width: 320px;
    height: 568px;
    padding: 0px;

  }

  #corpo #login {
    display: flex;
    align-items: center;
    margin-left: 0px;
    height: 100%;
    border: 1px solid green;
  }

  #corpo #login {
    width: 318px;
    height: 90%;
  }

  #corpo #cadastro {
    width: 100%;
    margin-top: 10px;
  }
}